@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    min-height: 100vh;

    ::-webkit-scrollbar {
        width: 8px;

    }


    ::-webkit-scrollbar-track {
        background: #a1a1a1;

        border-radius: 10px;
    }


    ::-webkit-scrollbar-thumb {
        background: rgba(236, 103, 36, 1);

        border-radius: 10px;
    }


    ::-webkit-scrollbar-thumb:hover {
        background: rgba(236, 103, 36, 0.8);

    }

    .transition-transform {
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}
